%h3
  %a{:href => "#"} 参考情報
%div
  %ul
    %li
      AIITのカリキュラムや教員紹介などの情報は
      %a{href: 'http://aiit.ac.jp/', target: '_blank'} 公式Webページ
      からご覧頂けます。
    %li
      %a{href: 'http://pk.aiit.ac.jp/index.php?InfoTalk', target: '_blank'} InfoTalk
      はどなたでも参加できるICT関連技術の勉強会です。毎月第3金曜日に開催しています。
    %li
      ものづくり・デザイン分野の最前線でご活躍の講師の方をお招きした公開セミナーである
      %a{href: 'http://hcdprogram.files.wordpress.com/2010/10/design_mini_seminer.pdf', target: '_blank'} デザインミニ塾
      も定期的に開催しています。
    %li
      %a{href: 'http://aiit.ac.jp/library/index.html', target: '_blank'} 附属図書館
      は，地域企業（東京都及び京浜地区等）の技術者の皆さんにも開放されています。IT・マネージメント・経営・デザイン・工学等の専門書が揃っています。
%h3
  %a{:href => "#"} Googleカレンダー
%div
  %iframe{:frameborder => "0", :height => "250", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showTitle=0&mode=AGENDA&src=nfhlajafmvgcd7kuppr94ib02o%40group.calendar.google.com&ctz=Asia/Tokyo", :style => "border: 0", :width => "450"}
  %p.small 上の「＋Googleカレンダー」をクリックすると、あなたのGoogleカレンダーにAIITの入試日程が表示されます。
%h3
  %a{:href => "#"} お問い合わせ
%div
  %p
    お問い合わせは
    %a{href: 'https://aiit.ac.jp/inquiries/add', target: '_blank'} こちら
    のフォームからお送り下さい。
  %p
    電話でのお問い合わせは
    03-3472-7831
    まで。
  %br/
  %hr/
  %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Faiit.ac.jp%3Fsk%3Dapp_363016147057643&send=false&layout=standard&width=450&show_faces=true&action=like&colorscheme=light&font&height=80&appId=363016147057643", :style => "border:none; overflow:hidden; width:450px; height:80px;"}
