%h3
  %a{:href => "#"} AIITのご紹介
%div
  %p
    AIIT（産業技術大学院大学）は、社会人に必要な実務遂行能力を育成する
    %a{href: "http://ja.wikipedia.org/wiki/%E5%B0%82%E9%96%80%E8%81%B7%E5%A4%A7%E5%AD%A6%E9%99%A2", target: "_blank"} 専門職大学院
    です。
    お仕事を持つ社会人に配慮したカリキュラムが組まれており、「修士（専門職）」の学位を取得することができます。
  %p
    本学は、
    %a{href: 'http://aiit.ac.jp/graduate_course/architecture/', target: '_blank'} 情報アーキテクチャ専攻
    と
    %a{href: 'http://aiit.ac.jp/graduate_course/creative/', target: '_blank'} 創造技術専攻
    の2つの専攻からなり、「情報システム」および「ものづくり」に関連する領域の実務遂行能力を向上させるための教育を行っています。
  %p
    講義は平日の夜間と土曜日に開講しており、通常、2年間の通学により修了することができます。
    %a{href: 'http://aiit.ac.jp/info/route.html', target: '_blank'} キャンパス
    は、りんかい線の品川シーサイド駅から徒歩3分に位置し、お仕事の後に移動する際にも便利です。
    また、秋葉原にサテライトキャンパスもございます。
  %p
    こちらの
    %a{href: 'https://aiit.ac.jp/materials/add', target: '_blank'} フォーム
    にご記入頂ければ、大学案内・募集要項を無料でお送りします。
    なお、AIITは東京都が設置した公立の大学院大学です。
    入学料、授業料は
    %a{href: 'http://aiit.ac.jp/guide/fee.html', target: '_blank'} こちら
    をご覧下さい。
  %blockquote
    %p.small
      ※
      %em ページの上部にある「いいね」ボタン
      をクリックして頂きますと、本学の入試の手続きについてご案内いたします。
      また
      %a{href: 'http://www.facebook.com/aiit.ac.jp?sk=app_219024461520939', target: '_blank'} 説明会
      を随時開催しておりますので、どうぞいらしてください。
%h3
  %a{:href => "#"} AIITに関する情報
%div
  %ul
    %li
      AIITのカリキュラムや教員紹介などの情報は
      %a{href: 'http://aiit.ac.jp/', target: '_blank'} 公式Webページ
      からご覧頂けます。
    %li
      %a{href: 'http://pk.aiit.ac.jp/index.php?InfoTalk', target: '_blank'} InfoTalk
      はどなたでも参加できるICT関連技術の勉強会です。毎月第3金曜日に開催しています。
    %li
      ものづくり・デザイン分野の最前線でご活躍の講師の方をお招きした公開セミナーである
      %a{href: 'http://hcdprogram.files.wordpress.com/2010/10/design_mini_seminer.pdf', target: '_blank'} デザインミニ塾
      も定期的に開催しています。
    %li
      %a{href: 'http://aiit.ac.jp/library/index.html', target: '_blank'} 附属図書館
      は，地域企業（東京都及び京浜地区等）の技術者の皆さんにも開放されています。IT・マネージメント・経営・デザイン・工学等の専門書が揃っています。
