!!!
%section
  :javascript
    $(function() {
          $( "#accordion" ).accordion();
    });
  .demo
  #accordion
    %h3
      %a{:href => "#"} 第2期一般入試のご案内
    %div
      %p
        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
        ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
        amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
        odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
    %h3
      %a{:href => "#"} 第3期一般入試のご案内
    %div
      %p
        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
        purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
        velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
        suscipit faucibus urna.
    %h3
      %a{:href => "#"} よくあるご質問
    %div
      hoge
    %h3
      %a{:href => "#"} カレンダー
    %div
      %iframe{:frameborder => "0", :height => "300", :scrolling => "no", :src => "https://www.google.com/calendar/embed?height=300&wkst=1&bgcolor=%23FFFFFF&src=nfhlajafmvgcd7kuppr94ib02o%40group.calendar.google.com&color=%232F6309&ctz=Asia%2FTokyo", :style => " border-width:0 ", :width => "520"}
/ End demo
.demo-description{:style => "display: none; "}
  %p
    Click headers to expand/collapse content that is broken into logical sections, much like tabs.
    Optionally, toggle sections open/closed on mouseover.
  %p
    The underlying HTML markup is a series of headers (H3 tags) and content divs so the content is
    usable without JavaScript.
/ End demo-description