!!!
%section
  :javascript
    $(function() {
          $( "#accordion" ).accordion();
    });
  #accordion
    %h3
      %a{:href => "#"} AIITのご紹介
    %div
      %p
        このページの上部にある「いいね」ボタンをクリックして頂きますと、本学の入試に関する詳しくご案内いたします。
      %p
        AIITのカリキュラムや教員紹介などの情報は
        %a{href: 'http://aiit.ac.jp/', target: '_blank'} 公式Webページ
        からご覧頂けます。
    %h3
      %a{:href => "#"} 情報アーキテクチャ専攻
    %div
      %p
        情報アーキテクチャ専攻は。。。
    %h3
      %a{:href => "#"} 創造技術専攻
    %div
      %p
        情報アーキテクチャ専攻は。。。
