!!!
%section
  :javascript
    $(function() {
          $( "#accordion" ).accordion();
    });
  #accordion
    %h3
      %a{:href => "#"} AIITのご紹介
    %div
      %p
        AIIT（産業技術大学院大学）は、社会人に必要な実務遂行能力を育成する
        %a{href: "http://ja.wikipedia.org/wiki/%E5%B0%82%E9%96%80%E8%81%B7%E5%A4%A7%E5%AD%A6%E9%99%A2", target: "_blank"} 専門職大学院
        です。
        お仕事を持つ社会人に配慮したカリキュラムが組まれており、「修士（専門職）」の学位を取得することができます。
      %p
        本学は、
        %a{href: 'http://aiit.ac.jp/graduate_course/architecture/', target: '_blank'} 情報アーキテクチャ専攻
        と
        %a{href: 'http://aiit.ac.jp/graduate_course/creative/', target: '_blank'} 創造技術専攻
        の2つの専攻からなります。それぞれ、「情報システム」または「ものづくり」に関連する領域の実務遂行能力を向上させるための教育を行っています。
      %p
        講義は平日の夜間と土曜日に開講しており、通常、2年間の通学により修了することができます。
        %a{href: 'http://aiit.ac.jp/info/route.html', target: '_blank'} キャンパス
        は、りんかい線の品川シーサイド駅から徒歩3分に位置し、お仕事の後に移動する際にも便利です。
        また、秋葉原にサテライトキャンパスもございます。
      %p
        こちらの
        %a{href: 'https://aiit.ac.jp/materials/add', target: '_blank'} フォーム
        にご記入頂ければ、大学案内・募集要項を無料でお送りします。
        また、
        %a{href: 'http://aiit.ac.jp/guide/meeting.html', target: '_blank'} 大学院説明会
        を開催しております。
        なお、AIITは東京都が設置した公立の大学院大学です。
        入学料、授業料は
        %a{href: 'http://aiit.ac.jp/guide/fee.html', target: '_blank'} こちら
        をご覧下さい。
      %p.small
        ※ただいま、この4月から本学で学ぶ学生を募集しております。
        %em ページの上部にある「いいね」ボタン
        をクリックして頂きますと、本学の入試の概要をご案内いたします。
    =render 'index/shared'