!!!
%section
  :javascript
    $(function() {
          $( "#accordion" ).accordion();
    });
  .demo
  #accordion
    %h3
      %a{:href => "#"} AIITの入学試験について
    %div
      %p
        このページでは、出願書類の準備から受験までの流れを簡単にご説明致します。
      %p
        %em ※万が一、このページの情報が正式の募集要項の内容と異なる場合、募集要項にある記述が優先されます。
      %p
        本年度は情報アーキテクチャ専攻、創造技術専攻ともに次の日程で入学試験を実施します。
        %dl
          %dt 第2期一般入試
          %dd 願書締切　平成23年2月6日、試験日　2月18・19日
          %dt 第3期一般入試
          %dd 願書締切　平成23年2月27日、試験日　3月10・11日
        どちらも試験の内容は一緒ですので、ご都合のよい日程を選択して下さい。
    %h3
      %a{:href => "#"} 願書提出までの流れ
    %div
      %p
        一般的な流れはつぎの通りです。
        %ol
          %li
            %a{href: 'http://aiit.ac.jp/point/index.html', target: '_blank'} こちら
            から募集要項、調査票、志願票をダウンロードして印刷して下さい
          %li
            募集要項を読み、調査票と志願票に必要事項を記入します。
          %li
            入学考査料（受験料）を振り込みます。   
          %li
            最終学歴（出身大学）の成績証明書と卒業証明書をご用意下さい。
          %li
            募集要項を再度確認し、必要書類が揃っているかを確かめて下さい。
          %li
            書類一式を郵送して準備完了です。
        %p
          ダウンロードした書類の印刷や、振込に関してはいくつか注意事項がございます。
        %p
          詳しくは、
          %a{href: 'http://aiit.ac.jp/guide/pdf/printout-1110.pdf', target: '_blank'} ダウンロード書類での出願手順について
          をご覧下さい。
    %h3
      %a{:href => "#"} 国内の大学を卒業していない方（事前審査）
    %div
      %p
        次に該当する方は出願資格の事前審査を受け、認められれば受験が可能です（以下、募集要項から抜粋）。
        %ul
          %li ③外国において学校教育における１６年の課程を修了した者及び平成２４年３月末日までに修了見込みの者
          %li ④外国の学校が行う通信教育における授業科目を我が国において履修することにより当該外国の学校教育における１６年の課程を修了した者及び平成２４年３月末日までに修了見込みの者
          %li ⑤我が国において、外国の大学の課程（その修了者が当該外国の学校教育における１６年の課程を修了したとされるものに限る。）を有するものとして当該外国の学校教育制度において位置付けられた教育施設であって、文部科学大臣が指定するものの当該課程を修了した者及び平成２４年３月末日までに修了見込みの者
          %li ⑧その他本研究科において、個別の入学資格審査により、大学を卒業した者と同等以上の学力があると認められた者で、平成２４年４月１日現在２２歳に達した者
      %p
        なお、事前審査の詳細は募集要項をご覧下さい。
    %h3
      %a{:href => "#"} 身体に障がい等がある方（協議申出）
    %div
      %p
        身体の障がい等により、受験上及び修学上特別な配慮を希望する方は、事前にお申し出下さい。
      %p
        %a{href: 'http://aiit.ac.jp/point/index.html'} こちら
        から「試験出願にかかる協議申出書」をダウンロードして印刷し、ご記入のうえ提出して下さい。
      %p
        なお、協議申出書の詳細は募集要項をご覧下さい。
    %h3
      %a{:href => "#"} 試験までの流れ
    %div
      %ol
        %li AIITから受験票が送られますので、記載事項をご確認下さい。
        %li 募集要項に受験時の注意事項が書いてありますので、お読み下さい。
        %li 試験当日は必ず受験票を持参し、必ず受付をすませてください。
        %li 試験会場にて試験を受けます。
      %p  
        おつかれさまでした。あとは、合格者発表を待ちましょう。
    %h3
      %a{:href => "#"} よくあるご質問
    %div
      %dl
        %dt 受験料をATMやネットバンキングから振り込むことはできますか？
        %dd
          %em 原則としては
          認めておりません。ご質問のある場合はAIITまでお問い合わせ下さい。
        %dt AIITのカリキュラムや授業の内容について、もっと詳しく知りたいのですが？
        %dd
          %a{href: 'http://aiit.ac.jp/guide/meeting.html', target: '_blank'} 大学院説明会
          を開催しています。教員や現役の学生から生のお話が聞けるチャンスですので、ぜひご参加下さい。
    %h3
      %a{:href => "#"} Google Calenderに登録しましょう
    %div
      %iframe{:frameborder => "0", :height => "300", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showTitle=0&mode=AGENDA&src=nfhlajafmvgcd7kuppr94ib02o%40group.calendar.google.com&ctz=Asia/Tokyo", :style => "border: 0", :width => "450"}
