!!!
%section
  :javascript
    $(function() {
          $( "#accordion" ).accordion();
    });
  .demo
  #accordion
    %h3
      %a{:href => "#"} AIITの入学試験について
    %div
      %p
        このページでは、出願書類の準備から受験までの流れを簡単にご説明致します。
      %p
        %em ※万が一、このページの情報が正式の募集要項の内容と異なる場合、募集要項にある記述が優先されます。
    %h3
      %a{:href => "#"} 試験の日程
    %div
      %p
        本年度は情報アーキテクチャ専攻、創造技術専攻ともに次の日程で入学試験を実施します。
        %dl
          %dt 第2期一般入試
          %dd 願書締切　平成23年2月6日、試験日　2月18・19日
          %dt 第3期一般入試
          %dd 願書締切　平成23年2月27日、試験日　3月10・11日
        どちらも試験の内容は一緒ですので、ご都合のよい日程を選択して下さい。
    %h3
      %a{:href => "#"} 願書提出までの流れ
    %div
      %p
        このページから募集要項、調査票、志願票（、協議申出書）をダウンロードします。
        http://aiit.ac.jp/point/index.html
      %p
        募集要項の「出願資格」をご確認下さい（海外の大学を卒業された場合等は事前審査が必要になります）
      %p
        最終学歴（出身大学）の成績証明書と卒業証明書をご用意下さい。
      %p
        入学考査料（受験料）を振り込みます。
        http://aiit.ac.jp/guide/pdf/printout-1110.pdf
      %p
        必要書類を郵送して準備完了です。
    %h3
      %a{:href => "#"} 試験までの流れ
    %div
      %p
    %h3
      %a{:href => "#"} よくあるご質問
    %div
      出願資格審査
      協議申出書
    %h3
      %a{:href => "#"} カレンダー
    %div
      %iframe{:frameborder => "0", :height => "300", :scrolling => "no", :src => "https://www.google.com/calendar/embed?height=300&wkst=1&bgcolor=%23FFFFFF&src=nfhlajafmvgcd7kuppr94ib02o%40group.calendar.google.com&color=%232F6309&ctz=Asia%2FTokyo", :style => " border-width:0 ", :width => "520"}
/ End demo
.demo-description{:style => "display: none; "}
  %p
    Click headers to expand/collapse content that is broken into logical sections, much like tabs.
    Optionally, toggle sections open/closed on mouseover.
  %p
    The underlying HTML markup is a series of headers (H3 tags) and content divs so the content is
    usable without JavaScript.
/ End demo-description