%meta{:property => "og:title", :content => "AIIT"}/
%meta{:property => "og:type", :content => "school"}/
%meta{:property => "og:url", :content => "https://aiit-fb-admissions.herokuapp.com/"}/
%meta{:property => "og:image", :content => "http://aiit.ac.jp/img/common/logo01.gif"}/
%meta{:property => "og:site_name", :content => "AIIT Admissions"}/
%meta{:property => "fb:admins",:content => "ychubachi"}/
%meta{:property => "og:description", :content => "AIIT（産業技術大学院大学）の入学試験に関するご案内です"}/
%meta{:property => "fb:app_id", :content => "#{ENV['FACEBOOK_APP_ID']}"}/